application.name                        {{ jira_crowdsso_appname }}
application.password                    {{ jira_crowdsso_apppass }}
application.login.url                   {{ jira_crowdsso_apploginurl }}

crowd.server.url                        {{ jira_crowdsso_crowdserverurl }}
crowd.base.url                          {{ jira_crowdsso_crowdbaseurl }}

session.isauthenticated                 session.isauthenticated
session.tokenkey                        session.tokenkey
session.validationinterval              2
session.lastvalidation                  session.lastvalidation
